.vscode/**
.vscode-test/**
src/**
scripts/**
cpp/**
out/test/**
out/**/__tests__/**
*.vsix
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
