name: CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]
  workflow_dispatch:

jobs:
  linux-check:
    name: C++ Tests (Linux)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build cmake
          sudo apt-get install -y clang-20 clang-tools-20
          sudo apt-get install -y autoconf autoconf-archive automake libtool python3.13-venv
          sudo apt-get install libx11-dev libxext-dev libwayland-dev wayland-protocols libxkbcommon-dev

          sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-20 100
          sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-20 100
          sudo update-alternatives --install /usr/bin/clang-scan-deps clang-scan-deps /usr/bin/clang-scan-deps-20 100
          

          sh ./vcpkg/bootstrap-vcpkg.sh

      #########
      # Build and test steps
      - name: Build debug
        run: |
          cmake --workflow --preset lin-dev

      - name: Build release
        run: |
          cmake --workflow --preset lin-release

      #########
      # Code coverage steps
      - name: Code Coverage
        run: |
          just coverage-html

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: build/coverage/coverage-html
